body {
    /* background-color: lightgray; */
     background-image: url(polygon-1.jpg);
     background-size: cover;  
  }
  
  h1 {
    color: white;
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
  }
  
  ul {
    background-color: rgb(40, 44, 47);
    height: 50px;
    margin: -8px;
    /* padding: 30px; */
    display: flex;
    text-decoration: none;
    padding-inline-start: 0px;
  
  } 

  li{
    /* background-color:   rgb(105, 98, 98); */
    font-family: verdana;
    font-size: 15px;
    display: inline-block;
    border: 1px solid black;
    /* background: rgb(90, 87, 87); */
    text-decoration: none;
    /* text-align: center; */
    padding: 15px;
  }

  header{
    /* border: 5px solid black; */
    text-decoration: none;
  }


  a{
    text-decoration: none;
  }

  a:visited{
    text-decoration: none;
    color: white;
  }

  #Home-text{
    text-align: center;
    font-size: 75px;
    color: white;
  }

  #Contact-text{
    color: white;
    text-align: center;
  }

  h1{
    font-size: 55px;
  }
    
footer{
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgb(40, 44, 47);
  color: white;
  height: 90px;
  width: 100%;
  text-align: center;
  }
  